*{
    margin: auto;
}
#Principal{
    height: auto;
    width: 25%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: auto;
}
div .pointillé{
    display: flex;
    align-items: flex-end;
}
.section1{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    width: auto;
}
.section1 img{
    border-radius: 50%;
}
.section2 {
    display: flex;
    justify-content: space-between;
   
    
}
.section2 div{
    border: 1px solid black;
    border-radius: 10%;
    background-color: blue;
}
.section2 span{
    border: 1px solid black;
    border-radius: 10%;
}
.section2 img{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 10%;
}
.caroussel ul{
list-style-type: none;
user-select: none;
display: flex;
overflow: auto;
padding: 20px 0;
}
.caroussel ul li{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caroussel ul li:first-child{
    padding-left: 20px;
}
.caroussel ul li:last-child{
    padding-right: 20px;
}